header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(48, 51, 70, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.22); }
  header.shrink {
    background: #ffffff;
    transition: 0.5s ease-out; }
    header.shrink .nav-shrink {
      color: #303346; }
  header nav .navbar-collapse {
    display: flex;
    justify-content: space-between; }
  header nav .nav-link {
    color: #ffffff; }
    header nav .nav-link.is-active {
      color: #00AEFF; }
  header nav .navbar-toggler-icon i.fa {
    font-size: 27px; }

.slideshow {
  height: 80vh; }
  .slideshow .carousel {
    height: 70%; }
    .slideshow .carousel-item {
      height: 80vh; }

.slide-controls {
  transform: translateY(20px); }

main {
  margin: auto 10%; }
  main .hot__story {
    position: relative;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-right: 20px; }
    main .hot__story img {
      position: relative;
      width: 100%;
      height: 250px;
      margin-bottom: 8px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
    main .hot__story a {
      color: rgba(0, 0, 0, 0.22);
      transition: 0.5s ease-out; }
      main .hot__story a:hover {
        color: #00AEFF; }

.main-section {
  margin: auto 10%; }

.single__story {
  border-bottom: 1px solid #303346;
  margin-left: 10%;
  margin-bottom: 10px; }
  .single__story img {
    width: 80px;
    height: 80px;
    border-radius: 50%; }

.side-section {
  border-left: 1px solid #303346;
  padding-left: 10px; }

.box {
  background: url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500) no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 5px; }
  .box__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(48, 51, 70, 0.4);
    z-index: 1; }
  .box__text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3; }
    .box__text h6 {
      margin-top: 30%; }

.grey {
  color: rgba(0, 0, 0, 0.22); }

.dark {
  color: #303346; }

.white {
  color: #ffffff; }

.blue {
  color: #00AEFF; }

footer {
  background: #303346;
  color: #ffffff;
  padding: 15px; }
  footer .social-links {
    margin-right: 20%;
    display: flex;
    justify-content: space-around; }
  footer .social-links__item {
    margin-right: 10px; }
    footer .social-links__item .social-icon {
      width: 20px;
      height: 20px;
      border: 1px solid #00AEFF; }
  footer hr {
    color: #00AEFF; }

@keyframes load {
  from {
    width: 30px; }
  to {
    width: 50px; } }

body {
  font-family: 'Lato',sans-serif; }

.line {
  background: #00AEFF;
  width: 120px;
  height: 3px;
  display: inline-block; }
  .line.line__sm {
    width: 50px;
    animation: load 1s ease-in-out; }
