main{
  margin:auto 0%;
  transform:translate3d(0,-20px,0);
  .hot__story{
    position: relative;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 2.3vh;
    img{
      position: relative;
      width: 100%;
      height: 27vh;
      margin-bottom: 8px;
      border-top-left-radius: 2.3vh;
      border-top-right-radius: 2.3vh;
    }
    .with--icons a{
      color:$grey;
      @include easeOut(.5s);
      &:hover{
        color:$blue;
      }
    }
  }
}
.main-section{
  margin:auto 11.5%;
}

.single__story{
  border-bottom: 1px solid rgb(216, 216, 216);
  margin-left:2vh;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
  img{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
  }
  p{
    font-size: 1.5vh;
  }
}

.side-section{
  border-left:1px solid rgb(226, 226, 226);
  padding-left: 2.1vh;
}

.box{
  background: url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500) no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 200px;
  //padding: 20px;
  border-radius:5px;
  &__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background:rgba($dark,.4);
    z-index:1;
  }
  &__text{
    position:absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index:3;
    h6{
      margin-top:50%;
    }
  }
}
.article-stat{
  & label{
    font-size: 12px;
  }
}