.slideshow {
  border: 1px solid black;
  height: 70vh;
  .carousel {
    height: 70%;
    &-item {
      height: 70vh;
    }
  }
}

.slide-controls {
  transform: translateY(20px);
}
.carousel-item{
  & img{
    height: 70vh;
  }
}
.carousel__text {
  position: absolute;
  padding: 5px;
  width: 500px;
  height: 50px;
  left: 155px;
  top: 177px;
  //font-family: Roboto;
  line-height: 25px;
  letter-spacing: 0.02em;
  & h3{
    left: 62px;
    top: 141px;
    margin: 5px;
    color: white;
  }
  & p{
    left: 62px;
    top: 141px;
    margin: 5px;
    color: rgb(190, 186, 186);
  }
}

