.slideshow{
  height: 80vh;
  .carousel{
    height: 70%;
    &-item{
      height: 80vh;
    }
  }
}

.slide-controls{
  transform:translateY(20px);
}
.carousel__text{
  position:absolute;
  top: 30%;
  left: 50%;
}