language: node_js
node_js:
  - "stable"
before_script:
  - yarn add sequelize-cli
  - sequelize db:migrate
  - sequelize db:seed:all
cache: yarn
script: 
  - yarn test
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.16.0
  - export PATH="$HOME/.yarn/bin:$PATH"
after_success:
  - yarn run coverage
