
@import './partials/variables.scss';
@import './partials/mixins.scss';
@import './partials/navbar.scss';
@import './partials/slider.scss';
@import './partials/mainsection.scss';
@import './partials/utils.scss';
@import './partials//footer.scss';
@import './partials/animations.scss';
@import './partials/login.scss';
body{
  font-family: 'Lato',sans-serif;
}
.line{
  background:$blue;
  width: 120px;
  height: 3px;
  display: inline-block;
  &.line__sm{
    width: 50px;
    animation: load 1s ease-in-out;
  }
}